{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('&lt;bro&gt;code administration') }}{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="../static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/changelists.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/autocomplete.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/forms.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/login.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/responsive_rtl.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/responsive.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/rtl.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/widgets.css" />


{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('&lt;bro&gt;code administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}