
{% extends "admin/login.html" %}
{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="../../static/admin/css/base.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/css/changelists.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/css/autocomplete.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/css/dashboard.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/css/fonts.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/css/forms.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/css/login.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/responsive_rtl.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/responsive.css" />
<link rel="stylesheet" type="text/css" href="../static/admin/css/rtl.css" />
<link rel="stylesheet" type="text/css" href="../../static/admin/css/widgets.css" />


{% endblock %}