{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>&lt;bro&gt;code</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/brocode.css' %}"  type="text/css">
<link rel="stylesheet" href="{% static 'css/timeline.css' %}"  type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
  <section id="home">
  <nav> 
    <ul class = 'start'>
      <li><a href="{% url 'login' %}">join</a></li>
    </ul>

    <ul class = 'logo'>
    <li ><a href="#">&lt;bro&gt;code </a></li>
    </ul>
      <div class = "menu" id="menuToggle">
        
        <input type="checkbox"></input>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="{% url 'signIn' %}"><li>sign up</li></a><br>
          <a href="{% url 'login' %}"><li>login</li></a><br>
          <a href="#course"><li>courses</li></a><br>
          <a href="#help"><li>help</li></a><br>
          <a href="#about"><li> about us</li></a><br>
          <a href="#"><li> contact us</li></a><br>
        </ul>
        </div>
      </nav>
      <div class = column>
      <a href="#" style = "color: rgb(0, 0, 0); font-weight:bolder;" class="typewrite" data-period="2000" data-type='[ "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
          <span class="wrap"></a>
      </span>
    </div>
    </section>
    <section id="join">
        <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="container-general">
                    <div class="gallery-wrap wrap-effect-1">
                      <div class="item"></div>
                      <div class="item"></div>
                      <div class="item"></div>
                      <div class="item"></div>
                      <div class="item"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
    </section>

    <section id="course">
          <p class = "courseHeader">Our top picks </p>
          <div class="flex-container">
          {% for c in course %}
            {% if c is not None %}
              <div class = courseDescrpt>
                    <div class = "courseTitle">{{c.courseTitle}}</div>
                    <ul class = "desc">
                      <li style="word-wrap: break-word; width: 100%; height: 4rem;">{{c.courseDescription}}</li>
                    </ul>
                    <a href = "{% url 'login' %}" class="button button3">Learn More</a> 
              </div>
            {% endif %}
          {% endfor %}
      </div>
    </section>
  <section id="aboutip">
          <h2 style="color:white" >About us</h2> 
          <div class="flex-about">
              <div>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugit suscipit odit tenetur totam adipisci.</p>
              </div>
          </div>

  </section>

  <section id="help">
          <h2 style="color:white" >Help</h2> 
          <div class="flex-about">
              <div>
                <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam laudantium similique nam dolor suscipit dignissimos, optio </p>
              </div>
          </div>

  </section>
  <section  id="footer">
          <h2 style="color:white" >&lt;bro&gt;code</h2> 
          <div class="flex-about">
            <a href = "{% url 'contact' %}"> Contact Us</a>
          </div>

  </section>
  <script type="text/javascript" src="{% static 'js/typewrite.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/split.js' %}"></script>
  </body>
</html>
