{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>&lt;bro&gt;code</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'css/brocode.css' %}"  type="text/css">
<link rel="stylesheet" href="{% static 'css/timeline.css' %}"  type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
  <section id="home">
  <nav> 
    <ul class = 'start'>
      <li><a href="{% url 'login' %}">join</a></li>
    </ul>

    <ul class = 'logo'>
    <li ><a href="#">&lt;bro&gt;code </a></li>
    </ul>
      <div class = "menu" id="menuToggle">
        
        <input type="checkbox"></input>

        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
          <a href="{% url 'signIn' %}"><li>sign up</li></a><br>
          <a href="{% url 'login' %}"><li>login</li></a><br>
          <a href="#course"><li>courses</li></a><br>
          <a href="#help"><li>help</li></a><br>
          <a href="#about"><li> about us</li></a><br>
          <a href="#"><li> contact us</li></a><br>
        </ul>
        </div>
      </nav>
      <h1>
        <a href="#" style = "color: white; font-weight:bolder;" class="typewrite" data-period="2000" data-type='[ "I am Creative.", "I Love Design.", "I Love to Develop." ]'>
            <span class="wrap"></span>
        </a>
      </h1>
    </section>
    <section id="join">
        <div class="container">
            <div class="timeline">
                  <div class="timeline-line" role="presentation">
                    
                  </div>
                
                <ol class="timeline-events">
                
                  <li class="timeline-event">
                    
                    <div class="timeline-date">
                      <time>1998</time>
                    </div>
                    
                    <div class="timeline-description">
                      Something happened on this date.
                    </div>	
                    
                  </li>
                  
                  <li class="timeline-event">
                    
                    <div class="timeline-date">
                      <time>2000</time>
                    </div>
                    
                    <div class="timeline-description">
                      Something happened on this date.
                    </div>	
                    
                  </li>
                  
                  <li class="timeline-event">
                    
                    <div class="timeline-date">
                      <time>2004</time>
                    </div>
                    
                    <div class="timeline-description">
                      The Archaic period, prior to 2000 BC, saw the first developments in agriculture and the earliest villages.<br />
                      The Preclassic period (c. 2000 BC to 250 AD) saw the establishment of the first complex societies.
                    </div>	
                    
                  </li>
                  
                  <li class="timeline-event">
                    
                    <div class="timeline-date">
                      <time>2006</time>
                    </div>
                    
                    <div class="timeline-description">
                      Something happened on this date.
                    </div>	
                    
                  </li>
                  
                  </ol><!-- /.timeline-events -->
                  
                </div><!-- /.timeline -->
            </div><!-- /.container -->

    </section>

    <section id="course">
          <h1 >Our top picks </h1>
          <div class="flex-container">
          {% for c in course %}
            {% if c is not None %}
              <div>
                    <div>{{c.courseTitle}}</div>
                    <div>{{c.courseDesc}}</div>
                    <a href = "{% url 'login' %}" class="button button3">Learn More</a> 
              </div>
            {% endif %}
          {% endfor %}
      </div>
    </section>
  <section id="aboutip">
          <br>
          <br>
          <h2 style="color:white" >About us</h2> 
          <div class="flex-about">
              <div>

              </div>
          </div>

  </section>

  <section id="help">
          <br>
          <br>
          <h2 style="color:white" >Help</h2> 
          <div class="flex-about">
              <div>
            
              </div>
          </div>

  </section>
  <section  id="footer">
          <br>
          <br>
          <h2 style="color:white" >&lt;bro&gt;code</h2> 
          <div class="flex-about">
                        
          </div>

  </section>
  <script type="text/javascript" src="{% static 'js/typewrite.js' %}"></script>
  </body>
</html>
