{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  <style>


.right {
    right: 0;
    background-image:url("../static/imgs/contact.jpg");
    background-size:cover;
    background-repeat: no-repeat; 
    margin-right:25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    object-fit:cover;
}
    
h2{
  margin-top:0;
}

#id_comments{
height:10rem;
}

</style>
</head>
<body>
<nav> 
                    
        <ul class = 'logo'>
        <li ><a href="{% url 'home' %}">&lt;bro&gt;code </a></li>
        </ul>
          <div class = "menu" id="menuToggle">
            
            <input type="checkbox"></input>
      
            <span></span>
            <span></span>
            <span></span>
      
            <ul id="menu">
              <a href="{% url 'signIn' %}"><li>sign up</li></a>
              <a href="{% url 'login' %}"><li>login</li></a>
              <a href="{% url 'home' %}"><li>courses</li></a>
              <a href="{% url 'home' %}"><li>help</li></a>
              <a href="{% url 'home' %}"><li> about us</li></a>
            </ul>
          </div>
        </nav>

<div class="split left">
    <h3 style="text-align: left">contact us</h3>
    <form class="register-form" id = "contactForm" method = 'POST'>
        {% csrf_token %}
        <label for="{{ form.email.id_for_label }} ">
            email
        </label>
        <input type="email" class="formInput" id="{{ form.email.id_for_label }}"
        name="{{ form.email.html_name }}"
        {% if form.email.field.required %}required{% endif %}
              class="form-control{% if form.email.errors %} is-invalid{% endif %}"
              value="{% if form.email.value %}{{ form.email.value }}{% endif %}">
        {% if form.email.errors %}
        {% for err in form.email.errors %}
          <span style = "color: red">{{ err }}</span><br>
        {% endfor %}
        {% endif %}
  
        <label for="{{ form.comments.id_for_label }} ">
          comments
        </label>
        <input type="text" class="formInput" id="{{ form.comments.id_for_label }}"
              name="{{ form.comments.html_name }}"
              {% if form.comments.field.required %}required{% endif %}
              class="form-control{% if form.comments.errors %} is-invalid{% endif %}"
              value="{% if form.comments.value %}{{ form.comments.value }}{% endif %}">
        {% for err in form.comments.errors %}
          <span style = "color: red">{{ err }}</span><br>
        {% endfor %}
    <input type = "submit" class = "nextButton" value="next">

</div>

<div class="split right">
  <div class="centered">
  </div>
</div>
  
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
     $("#contactForm").submit(function(e){
    // prevent from normal form behaviour
          e.preventDefault();
        // serialize the form data  
          var serializedData = $(this).serialize();
          $.ajax({
            type : 'POST',
            url :  "{% url 'contact_submit' %}",
            data : serializedData,
            success : function(response){
        //reset the form after successful submit
              $("#contactForm")[0].reset(); 
              console.log('done') //sanity check
              alert('Your Details are submitted, we will get back to you soon')
            },
            error : function(response){
              console.log(response)

            }
          });
     });
  });
  </script>
</html> 
