<!DOCTYPE html>
<html>
<head>
<title>&lt;bro&gt;code</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="instructor.css"  type="text/css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
</head>
<body>
<nav> 

  <ul class = 'start'>
    <li><a href="login.html">join</a></li>     
  </ul>

  <ul class = 'logo'>
  <li ><a href="home.html">&lt;bro&gt;code </a></li>
  </ul>

    <div class = "menu" id="menuToggle">
      
      <input type="checkbox"></input>

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <a href="#"><li>sign up</li></a><br><br>
        <a href="#"><li>login</li></a><br><br>
        <a href="#"><li>courses</li></a><br><br>
        <a href="#"><li>help</li></a><br><br>
        <a href="#"><li> about us</li></a><br><br>
        <a href="#"><li> contact us</li></a><br><br><br>
      <br><br><br>
      </ul>
    </div>
</nav>

<h2>welcome name</h2>

<div class="row" >
    <div class="column" style="background-color:white;">
        <p >course 1:<br>
        description<br>
        no. of hrs: </p>
    </div>
    <div class="button1" 'onclick="#"'>
        <p> edit info</p>
    </div>
</div>
   

</body>
</html>