{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" type="text/css" href="{% static 'css/signIn.css' %}">
  <title>&lt;bro&gt;code</title>
</head>
<body>
        <nav> 
            <ul class = 'logo'>
            <li><a href="{% url 'home' %}">&lt;bro&gt;code </a></li>
            </ul>
            <div class = "menu" id="menuToggle">
              
              <input type="checkbox">
        
              <span></span>
              <span></span>
              <span></span>
        
              <ul id="menu">
                <a href="#"><li>sign up</li></a><br>
                <a href="#"><li>login</li></a><br>
                <a href="#"><li>courses</li></a><br>
                <a href="#"><li>help</li></a><br>
                <a href="#"><li> about us</li></a><br>
                <a href="#"><li> contact us</li></a><br>
              <br><br><br>
              </ul>
            </div>
          </nav>

   
     
<div class="split left">
    <h1 style="text-align: left">SIGN UP</h1>
    <p style="text-align: left">email:</p>
    <form class="register-form">
      <input type="email" />
      <p style="text-align: left">password:</p>
      <input type="password" />
      <br> <br>
      <button>next</button>
    </form>
  

</div>

<div class="split right">
  <div class="centered">
    
    <p>  </p>
  </div>
</div>
</body>
</html>