{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" type="text/css" href="{% static 'css/signIn.css' %}">
  <title>&lt;bro&gt;code</title>
</head>
<body>
        <nav> 
            <ul class = 'logo'>
            <li><a href="{% url 'home' %}">&lt;bro&gt;code </a></li>
            </ul>
            <div class = "menu" id="menuToggle">
              
              <input type="checkbox">
        
              <span></span>
              <span></span>
              <span></span>
        
              <ul id="menu">
                <a href="#"><li>sign up</li></a><br>
                <a href="{% url 'login' % }"><li>login</li></a><br>
                <a href="{% url home}"><li>courses</li></a><br>
                <a href="{% url home}"><li>help</li></a><br>
                <a href="{% url home}"><li> about us</li></a><br>
                <a href="{% url home}"><li> contact us</li></a><br>
              <br><br><br>
              </ul>
            </div>
          </nav>

   
     
<div class="split left">
    <h3 style="text-align: left">SIGN UP</h3>
    <form class="register-form" method="POST" action = "{% url 'signIn' %}">
      {% csrf_token %}
      <label for="{{ form.username.id_for_label }} ">
        Username
       </label>
       <input type="text" class="formInput" id="{{ form.username.id_for_label }}"
              name="{{ form.username.html_name }}"
              {% if form.password.field.required %}required{% endif %}
              class="form-control{% if form.usename.errors %} is-invalid{% endif %}"
              value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
       {% for err in form.username.errors %}
         <span style = "color: red">{{ err }}</span><br>
       {% endfor %}
       <label for="{{ form.email.id_for_label }} " >
        Email
       </label> <br>
       <input type="text" class="formInput" id="{{ form.email.id_for_label }}"
              name="{{ form.email.html_name }}"
              {% if form.email.field.required %}required{% endif %}
              class="form-control{% if form.email.errors %} is-invalid{% endif %}"
              value="{% if form.email.value %}{{ form.email.value }}{% endif %}">

       {% for err in form.email.errors %}
         <span style = "color: red">{{ err }}</span><br>
       {% endfor %}
      <label for="{{ form.password.id_for_label }} ">
       Password
      </label>
      <input type="password" class="formInput" id="{{ form.password1.id_for_label }}"
             name="{{ form.password1.html_name }}"
             {% if form.password1.field.required %}required{% endif %}
             class="form-control{% if form.password1.errors %} is-invalid{% endif %}"
             value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}">
      {% for err in form.password1.errors %}
        <span style = "color: red">{{ err }}</span><br>
      {% endfor %}
      <label for="{{ form.password2.id_for_label }} ">
        Confirm Password
       </label>
       <input type="password" class="formInput" id="{{ form.password2.id_for_label }}"
              name="{{ form.password2.html_name }}"
              {% if form.password2.field.required %}required{% endif %}
              class="form-control{% if form.password2.errors %} is-invalid{% endif %}"
              value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}">
       {% for err in form.password2.errors %}
         <span style = "color: red">{{ err }}</span><br>
       {% endfor %}
      <input type ='submit' class = "nextButton" value ='next'>
    </form>
  

</div>

<div class="split right">
  <div class="centered">
    
    <p>  </p>
  </div>
</div>
</body>
</html>