
* {
    box-sizing: border-box;
  }
  body {
    font-family:'Raleway', serif;
    background-image: url("color.jpg");
    background-repeat:no-repeat;
    height:100vh;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    opacity:1;
    
  }
  .flex-about{
    display: flex;
    color:white;
  }

  .flex-about > div {
    background-color: white;
    color: black;
    width: 1200px;
    height: 500px;
    margin-left:7rem;
    line-height: 50px;
    font-size: 22px;
    border-radius: 2rem;
}

.button1 {
     
    border: none;
    background-color:blue;
    border-width:0.25rem;
    border-color: black;
    border-style: outset;
    color:black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    cursor: pointer;
    width:15rem;
    height:5rem;
    border-radius:1.3rem;
    margin-top:35rem;


  }
  
  nav{
    margin-left: 0rem;
    margin-top:0rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.3fr 1.5fr 0.3fr;
    grid-template-areas: 
    "menu logo startLogin";
  }
  .start {
    display: grid;
    grid-area: startLogin
  }
  .menu {
    display: grid;
    grid-area: menu;
  }
  .logo{
    margin-top: 0%;
    padding-top: 0%;
    display: grid;
    grid-area: logo;
    top:0;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:transparent;
      opacity:1;
    }
    
    li {
      display:inline-block;
      padding: 10px;
    }
    
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 10px;
      text-decoration: none;
      font-size:35px;
      font-weight: bolder;
      
    }
    
    li a:hover {
      color: rgb(182, 136, 52) ;
      opacity:0.852;
  }
     
  a
  {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  
  a:hover
  {
    color: tomato;
  }
  
  #menuToggle
  {
    display: inline-block;
    position: relative;
    top: 1rem;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
 
  }
  
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /*
   * Just a quick hamburger
   */
  #menuToggle span
  {
    display: block;
    width: 40px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background:white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
  #menu
  {
    position: absolute;
    width: 490px;
    margin: -100px 0 0 -60px;
    padding: 50px;
    padding-top: 125px;
    
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 20px 0;
    font-size: 40px;
    font-weight: 900;
    color:black;
  }
  #menu li:hover
  {
    color:grey;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }
  
  h2{
      color:black;
      font-size: 30px;
      font-family: 'Raleway',serif;

  }
  
  .column1{
      border-radius: 35px;
      border: none;
      width: 80%;
      padding-bottom: 5px;
      padding-left: 20px;
      height: 70px; /* Should be removed. Only for demonstration */
      margin-left:10px;
      text-align: left;
      font-family: 'Raleway', serif;
      font-size: 35px;
      font-weight: bold;
      margin-left: 200px;
      position: relative;
  }
  
  .column2 {
    border-radius: 35px;
      border: none;
      width: 80%;
      padding-bottom: 5px;
      padding-left: 20px;
      height: 70px; /* Should be removed. Only for demonstration */
      margin-left:10px;
      text-align: left;
      font-family: 'Raleway', serif;
      font-size: 35px;
      font-weight: bold;
      margin-left: 200px;
      position: relative;
      margin-top: 35px;
}
  .column3{
     border-radius: 35px;
      border: none;
      width: 80%;
      padding-bottom: 5px;
      padding-left: 20px;
      height: 70px; /* Should be removed. Only for demonstration */
      margin-left:10px;
      text-align: left;
      font-family: 'Raleway', serif;
      font-size: 35px;
      font-weight: bold;
      margin-left: 200px;
      position: relative;
      margin-top: 20px;

}

  .column4{
     border-radius: 35px;
      border: none;
      width: 80%;
      padding-bottom: 5px;
      padding-left: 20px;
      height: 70px; /* Should be removed. Only for demonstration */
      margin-left:10px;
      text-align: left;
      font-family: 'Raleway', serif;
      font-size: 35px;
      font-weight: bold;
      margin-left: 200px;
      position: relative;
      margin-top: 20px;

}

  .column5{
     border-radius: 35px;
      border: none;
      width: 80%;
      padding-bottom: 5px;
      padding-left: 20px;
      height: 70px; /* Should be removed. Only for demonstration */
      margin-left:10px;
      text-align: left;
      font-family: 'Raleway', serif;
      font-size: 35px;
      font-weight: bold;
      margin-left: 200px;
      position: relative;
      margin-top: 20px;

}
  .column6{
     border-radius: 35px;
      border: none;
      width: 80%;
      padding-bottom: 5px;
      padding-left: 20px;
      height: 70px; /* Should be removed. Only for demonstration */
      margin-left:10px;
      text-align: left;
      font-family: 'Raleway', serif;
      font-size: 35px;
      font-weight: bold;
      margin-left: 200px;
      position: relative;
      margin-top: 20px;

}

   .column7{
     border-radius: 35px;
      border: none;
      width: 80%;
      padding-bottom: 5px;
      padding-left: 20px;
      height: 70px; /* Should be removed. Only for demonstration */
      margin-left:10px;
      text-align: left;
      font-family: 'Raleway', serif;
      font-size: 35px;
      font-weight: bold;
      margin-left: 200px;
      position: relative;
      margin-top: 20px;

}
  
  .button1 {
      border-radius: 35px;
      border: none;
      width:250px;
      height:50px;
      background-color:#1EB7D5;
      font-family: 'Raleway', serif;
      font-size: 30px;
      font-weight: bold;
      margin-right:20px;
      margin-bottom:50%;
      color:white;
      position :absolute;
      top: 10px;
      right: 400px;
      text-align: center;
      padding-top: 15px;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
  
  }
  
  .button1:hover {background-color: darkblue}
  .button1:focus {outline:0;}
  
  .button1:active {
    background-color:darkblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
 
  
  .button2{
    border-radius: 35px;
    border: none;
    width:290px;
    height:70px;
    background-color:rgb(9, 9, 150);
    font-family: 'Raleway', serif;
    font-size: 35px;
    font-weight: bold;
    margin-right:20px;
    margin-bottom:50%;
    color:white;
    position :absolute;
    top: 180px;
    right: 10px;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  .button2:hover {background-color: darkblue}
  .button2:focus {outline:0;}
  
  .button2:active {
    background-color:darkblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .container {
    width: 400px;
    height: 30px;
    background-color: #ddd;
    position:absolute;
    margin-left: 180px;
    top:12px;
  }
  

  .skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    height: 30px;
    font-size: 20px;
  }
  
  .week1 {width: 75%; background-color: #1EB7D5;}
  .week2 {width: 75%; background-color:#1EB7D5;}
  .week3 {width: 75%; background-color:#1EB7D5;}
  .week4 {width: 75%; background-color:#1EB7D5;}
  .week5 {width: 75%; background-color:#1EB7D5;}
